
.navApp {
  background-color: cornflowerblue;
  color: white;
  font-size: 20px;
  padding: 20px;
  border-bottom: 7px cornflowerblue ;
}

#name {
  font-size: 25px;
}

.container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: whitesmoke;
}



.card-header {
  border-top: 5px solid cornflowerblue;
  border-left: 5px solid cornflowerblue;
  border-right: 5px solid cornflowerblue;
}

.card-body {
  border-left: 5px solid cornflowerblue;
  border-bottom: 5px solid cornflowerblue;
  border-right: 5px solid cornflowerblue;
}

.aboutApp, .portfolioApp, .contactApp, html {
  background-color: whitesmoke;
}
